@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
body {
    background-color: #e1d7ce;
    background-image: url("../blackSilks.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
}

#mainSection {
    background-color: #0a0a0a !important;
}

#mainPhoto {
    height: 700px;
}

.phoneNav {
    display: none;
}


/* styles.css (o tu archivo de estilos) */

.spinner {
    border: 4px solid rgba(255, 255, 255);
    border-top: 4px solid #fbcc14;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 20px !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.oro {
    background-color: #e1d7ce;
    background-image: url("../blackSilks.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.device {
    display: none !important;
}

.navbar {
    display: flex !important;
}

.my-progress-bar {
    position: absolute !important;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.active {
    background-color: #fbcc14 !important;
    padding: 10px;
    color: black;
}

.swiper-pagination .swiper-pagination-progressbar .swiper-pagination-horizontal {
    position: absolute;
    top: 20px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    position: absolute;
    top: 0 !important;
    background-color: #fbcc14;
}

.swiper-pagination-progressbar {
    width: 90% !important;
    position: absolute;
    top: 340px !important;
    left: 5% !important;
    background-color: rgb(107, 107, 107);
}

.swiper-button-prev,
.swiper-button-next {
    color: #fbcc14;
}


/* animation */

.animationUp {
    animation: up 1s 1;
}

@keyframes up {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animationLeft {
    animation: leftD 1s 1;
}

@keyframes leftD {
    0% {
        transform: translateX(70px);
    }
    100% {
        transform: translateX(0px);
    }
}

.fade {
    animation: opacity 1s 1;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    width: 100%;
    height: auto;
    flex-direction: column;
}

.testim {
    font-family: cursive !important;
}

.aboutImg {
    background-image: url("img/14kbracelet6.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.giro {
    animation: rotate 30s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.all {
    background-image: url("../blackSilk.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portadN {
    background-image: url("https://cdn.pixabay.com/photo/2023/10/18/17/53/jewellery-8324827_1280.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portadR {
    background-image: url("https://cdn.pixabay.com/photo/2012/11/19/07/09/ring-66598_1280.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portadB {
    background-image: url("https://media.istockphoto.com/id/1540951542/es/foto/mujer-joven-con-un-brazalete-de-oro.webp?b=1&s=612x612&w=0&k=20&c=ARUWxInhz8MlJmomabYv2o3Hiyjbqc6d9fTQbK9Y2B8=");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portadP {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/19/11/00/pendant-2867205_1280.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact {
    background-image: url("https://images.pexels.com/photos/9430992/pexels-photo-9430992.jpeg?auto=compress&cs=tinysrgb&w=800 ");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

.skin {
    background-color: #fcfafe;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.socialNet {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    width: 90%;
    gap: 20px;
}


/* for all social containers*/

.socialContainer {
    width: 38px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    background-color: rgb(187, 187, 187);
}


/* instagram*/

.generalInfo .containerOne {
    background-color: #d62976;
}


/* github*/

.generalInfo .containerTwo {
    background-color: rgb(29, 29, 29);
}


/* linkdin*/

.generalInfo .containerThree {
    background-color: #0072b1;
}


/* Whatsapp*/

.generalInfo .containerFour {
    background-color: #128C7E;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(0, 0, 0);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

.similares {
    height: 440px;
}

@media (min-width: 768px) {
    .navbar {
        display: none !important;
    }
    .device {
        display: flex !important;
    }
    .about {
        width: 100%;
        height: 100vh !important;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .socialSvg {
        width: 17px;
    }
    .socialNet {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        width: 70%;
        gap: 20px;
    }
    .socialContainer {
        width: 38px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition-duration: .3s;
        background-color: rgb(187, 187, 187);
    }
}

.animated-element {
    animation-name: slideFromRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        /* Start outside of the view on the right */
    }
    to {
        transform: translateX(0);
        /* Move to the left (final position) */
    }
}

.animated-element-left {
    animation-name: slideFromLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        /* Start outside of the view on the right */
    }
    to {
        transform: translateX(0);
        /* Move to the left (final position) */
    }
}


/* Estilo adicional para ajustar la apariencia de la barra de progreso según tus preferencias */