@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #f5f5f5;
}

.device {
    display: none !important;
}

.navbar {
    display: flex !important;
}

.my-progress-bar {
    position: absolute !important;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50em !important;
}

.active {
    background-color: red !important;
}

.swiper-pagination .swiper-pagination-progressbar .swiper-pagination-horizontal {
    position: absolute;
    top: 20px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    position: absolute;
    top: 0 !important;
    background-color: rgb(107, 107, 107);
}

.swiper-pagination-progressbar {
    width: 90% !important;
    position: absolute;
    top: 340px !important;
    left: 5% !important;
}

.about {
    width: 100%;
    height: auto;
    flex-direction: column;
}

.aboutImg {
    background-image: url("https://images.pexels.com/photos/6479595/pexels-photo-6479595.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.giro {
    animation: rotate 30s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.all {
    background-image: url("https://images.pexels.com/photos/9431873/pexels-photo-9431873.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portadN {
    background-image: url("img/necklace/necklace13.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portadR {
    background-image: url("img/rings/ring9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portadB {
    background-image: url("img/bracelet/bracelet9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/07/04/24/diamonds-2599816_1280.jpg   ");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

.skin {
    background-color: #fcfafe;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.socialNet {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    width: 90%;
    gap: 20px;
}


/* for all social containers*/

.socialContainer {
    width: 38px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    background-color: rgb(187, 187, 187);
}


/* instagram*/

.generalInfo .containerOne {
    background-color: #d62976;
}


/* github*/

.generalInfo .containerTwo {
    background-color: rgb(29, 29, 29);
}


/* linkdin*/

.generalInfo .containerThree {
    background-color: #0072b1;
}


/* Whatsapp*/

.generalInfo .containerFour {
    background-color: #128C7E;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(0, 0, 0);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

.similares {
    height: 440px;
}

@media (min-width: 768px) {
    .navbar {
        display: none !important;
    }
    .device {
        display: flex !important;
    }
    .about {
        width: 100%;
        height: 100vh !important;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .socialSvg {
        width: 17px;
    }
    .socialNet {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        width: 70%;
        gap: 20px;
    }
    .socialContainer {
        width: 38px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition-duration: .3s;
        background-color: rgb(187, 187, 187);
    }
}


/* Estilo adicional para ajustar la apariencia de la barra de progreso según tus preferencias */